html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    color: #212121;
    background: #fff;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    font-family: sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
